[submodule "utils/html_ted"]
	path = utils/html_ted
	url = git@github.com:giuseppesalvi/html-tree-edit-distance.git
[submodule "utils/pix2code"]
	path = utils/pix2code
	url = https://github.com/tonybeltramelli/pix2code.git
